
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(135deg, gray, skyblue);
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
  min-height: 100vh;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


header {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  font-size: 25px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}

nav a:hover {
  color: aqua;
  background: rgba(247, 224, 224, 0.363);
  backdrop-filter: blur(5px);
  transition: 1.2s;
}


.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
  gap: 50px;
  flex-wrap: wrap;
}

.image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  left: -200px;
  top: -80px;
  overflow: hidden; 
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.7);
  border: 5px solid white;
  flex-shrink: 0;
  animation: floatUpDown 4s ease-in-out infinite;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image img:hover {
  transform: scale(1.10);
}

.about-text {
  max-width: 600px;
}

.about-text h2 {
  font-size: 45px;
  margin-bottom: 20px;
  position: relative;
  top: 40px;
}

.about-text p {
  font-size: 21px;
  position: relative;
  top: 45px;
  line-height: 1.8;
  text-align: justify;
}


.basketball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  margin-top: 100px;
  flex-wrap: wrap;
}


.basketball,
.me {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  transition: transform 0.5s ease;
  position: relative;
  bottom: 25px;
  animation: floatUpDown 4s ease-in-out infinite;
}

.basketball img,
.me img {
  width: 110%;
  height: 110%;
  object-fit: cover;
  transition: transform 0.5s ease;
  
}

.basketball img:hover,
.me img:hover {
  transform: scale(1.10);
}



@keyframes floatUpDown {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}





footer {
  background: rgba(255, 255, 255, 0.178);
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(5px);
}
