* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(135deg, gray, skyblue);
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
  min-height: 100vh;
  padding-top: 90px;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


header {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  font-size: 30px;
  font-weight: bold;
}



nav a {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  font-size: 25px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}

nav a:hover {
  color: aqua;
  background: rgba(247, 224, 224, 0.363);
  backdrop-filter: blur(5px);
  transition: 1.2s;
}

.page {
  text-align: center;
  padding: 100px 10%;
}

.page h2 {
  font-size: 45px;
  margin-bottom: 15px;
  position: relative;
  top: -80px;
}

.page p {
  font-size: 25px;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  top: -80px;
}


.output-img {
  width: 250px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}


.activities {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
  align-items: center;
}

.activity {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 25px;
  width: 85%;
  transition: transform 0.3s;
}

.activity:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 100px gray;
}

.activity h3 {
  color: white;
  font-size: 26px;
  margin-bottom: 15px;
  position: relative;
  top: -17px;
}

.activity p {
  color: white;
  position: relative;
  top: -26px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.images img {
  width: 45%;
  max-width: 350px;
  border-radius: 15px;
  border: 3px solid #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  transition: transform 0.3s ease;
}

.images img:hover {
  transform: scale(1.05);
}

footer {
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 12px 0;
  font-size: 25px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(5px);
}
