* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(135deg, gray, skyblue);
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
  min-height: 100vh;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


header {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}


nav a {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  font-size: 25px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}

nav a:hover {
  color: aqua;
  background: rgba(247, 224, 224, 0.363);
  backdrop-filter: blur(5px);
}


.page {
  text-align: center;
  padding: 150px 10%;
}

.page h2 {
  font-size: 45px;
  position: relative;
  top: -50px;
  margin-bottom: 25px;
}


.reflection-text {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.8;
  font-size: 20px;
  text-indent: 50px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}


.reflection-text:hover {
  transform: scale(1.01);
  transition: 0.3s ease;
}


.video-container {
  position: relative;
  bottom: -20px;

}


.video-container video {
  width: 55%;
  height: auto;
  border-radius: 40px;
  transition: 0.3s ease;
  box-shadow: 0 0 50px white;
  animation: float 3s ease-in-out infinite;
  
  
}


.video-container video:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  
}


footer {
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 18px 0;
  font-size: 25px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(5px);
}


body {
  background: linear-gradient(135deg, gray, skyblue);
  color: white;
}


@media screen and (min-width: 768px) {
  body {
  background: linear-gradient(135deg, gray, skyblue);
    color: white;
  }

  .reflection-text {
    font-size: 25px;
    padding: 40px 60px;
  }
}


@media (max-width: 480px) {
  body {
    font-size: 14px;
    background: linear-gradient(135deg, gray, skyblue);
  }
}

